/** {

  display: inline-block;

}*/

body {

  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  margin: 0 auto;
  height: 100vh;
  background-image: url(../images/tabletop.jpg);
  background-size: cover;
  /*overflow: hidden;*/
}

.welcome {
  width: 90%;
  text-align: center;
  background: lightyellow;
  background: none;
  margin: 0 auto;
  max-height: 700px;
  width: 1400px;
}

.game {
 display: none;
 max-height: 800px;
 width: 1400px;
 position: relative;
 margin: 0 auto;
 background: lightgreen;
 background: none;
}

.sideBar, .topBar, .centerpiece, .node {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0px;
  box-sizing: border-box;
  border-radius: 5px;
  float: left;
}

.centerpiece {
  font-size: 35px;
  text-align: center;
  /*vertical-align:top;*/
  padding-top: 5px;
  visibility: hidden;
  background: inherit;
  height: 60px;
  width: 60px;
  text-shadow: 2px 2px black;
}

.node {
  background: black;
  height: 10px;
  width: 10px;
}

.topBar {
  background: red;
  height: 10px;
  width: 60px;
}

.sideBar {
  background: salmon;
  height: 60px;
  width: 10px;
}

/* End of start-up styling on board*/
/* now for active styles on squares*/

.active {
  background: #d0dbd0;
  vertical-align:top;
  /*cursor: pointer;*/
}

.active:hover {
  background: grey;
  vertical-align:top;
}

.clicked {
  background: #384b51;
  vertical-align:top;
}

/* End of active styling on board*/

.playerNamesHolder {
  width: 1200px;
  margin: 0 auto;
  /*background: black;*/

}

.playerNamesSection {
  /*background: blue;*/
  width: 400px;
  float: left;
  text-align: center;
}

.playerNamesMiddle {
  /*background: orange;*/
  width: 300px;
  margin: 0 50px;
  float: left;
  text-align: center;
}

.instructions {
  text-align: center;
  margin: 50px auto;
  width: 85%;
  /*background: lightblue;*/
}

#instructions {
  text-decoration: underline;
  font-size: 30px;
}


/* Dynamic board CSS starts here */
/* Welcome sceen starts here */

header {
  text-align: center;
  padding: 40px 0;
  color: #7c1a1a;
  font-size: 80px;
}

.inputNames {
  width: 200px;
  height: 40px;
  font-family: inherit;
  background-color: white;
  border: 0;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  font-size: inherit;
  text-align: center;
}


#startGameWelcome {   /*start button on welcome screen*/
  background: #ff3f3f;
  margin-top: 25px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}


/*The game screen CSS is below*/

.gameTitle {
  text-align: center;
  padding: 0;
  color: #7c1a1a;
  font-size: 60px;
  position: relative;
  top: 75px;
}

aside {
  width: 400px;
  border: 0px solid black;
  float: right;
  text-align: left;
  position: relative;
  top: 150px;
}

#left, #right {
  color: #e7e729;
  color: #6da2e6;
  background: inherit;
  margin-top: 25px;
  text-shadow: 2px 2px black;
}
#right {
  color: #c51414;
}

.megaBoard {
  background: #d4cfcd;
  /*background: purple;*/
  width: 590px;
  height: 590px;

  box-sizing: content-box;

  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;

  position: relative;
  top: 150px;
  left: 20px;





}

.notebook {
  width: 610px;
  height: 700px;
  background-image: url(../images/blankNote2.png);
  background-size: cover;
  position: relative;
  top: 100px;
  left: 330px;
  transform: rotate(-10deg);
  cursor: url(../images/pencilMedium.png) 10 113,url(../images/pencilSmall.png) 4 30,auto;
}

.gameButton {
  background: #ff3f3f;
  margin-top: 25px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
}

.forGameButtons {
  text-align: left;
}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*MEDIA QUERY-----------------------------------------------------------------*/
@media screen and (max-width: 600px) {


  body {
    background-color: white;
    font-size: 16px;
    /*height: 100vh;*/
    background-image: none;
    background: lightyellow;
  }


  .welcome {
    text-align: center;
    background: lightyellow;
    background: inherit;
    margin: 0 auto;
    /*height: 360px;*/
    width: 100%;
  }

  .game {
   display: none;
   /*background-size: cover;*/
   /*height: 800px;*/
   max-width: 320px;
   position: static;
   margin: 0 auto;
   background: inherit;
  }


  /*Welcome Screen CSS starts now*/
  .playerNamesHolder {
    width: 320px;
    margin: 0 auto;
    /*background: black;*/

  }

  .playerNamesSection {
    background: inherit;
    width: 320px;
    text-align: center;
  }

  .playerNamesMiddle {
    /*background: orange;*/
    width: 320px;
    margin: 0 0px;
    margin-bottom: 20px;
    text-align: center;
  }

  .instructions {
    text-align: center;
    margin: 20px auto;
    width: 100%;
    color: #7c1a1a;
    /*background: lightblue;*/
  }

  #instructions {
    text-decoration: underline;
    font-size: 30px;
  }

  header {
    text-align: center;
    padding: 20px 0;
    color: #7c1a1a;
    font-size: 30px;
  }

  .inputNames {
    max-width: 200px;
    height: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: inherit;
    text-align: center;
    background: white;
  }

  #startGameWelcome {   /*start button on welcome screen*/
    margin: 5px auto;
    border: 1px solid black;
    max-width: 200px;
  }



  /*The game screen CSS is below*/

  .gameTitle {
    height: 40px;
    text-align: center;
    padding: 20px;
    color: #7c1a1a;
    font-size: 20px;
    position: static;
    /*margin-top: 20px;*/
  }

  aside {
    max-width: 318px;
    border: 0px solid black;
    text-align: center;
    float: none;
    position: static;
    margin: 10px auto;
  }

  #left, #right {
    width: 160px;
    float: none;
    color: #e7e729;
    color: #6da2e6;
    background: inherit;
    margin-top: 5px;
    text-shadow: 2px 2px black;
    margin: 0 auto;
  }
  #right {
    color: #c51414;
  }

  .megaBoard {
    background: lightyellow;
    /*background: purple;*/
    width: 590px;
    height: 590px;
    box-sizing: content-box;

    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;

    position: static;
    margin-top: 75px;
  }

  .notebook {
    width: 320px;
    height: auto;
    background-image: none;
    background-size: cover;
    position: static;
    transform: rotate(0deg);
  }

  .gameButton {
    background: #ff3f3f;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
  }

  .forGameButtons {
    text-align: center;;
  }
}
